name: Javascript CI

on:
  push:
    branches:
      - main
      
  pull_request:
    branches:
      - main

jobs:
  test:
    name: CI tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install

      - name: Run ESLint
        run: yarn lint

      - name: Run SCSS lint
        run: yarn lint-scss

      - name: Validate TypeScript
        run: yarn types
